<div class="wrapper d-flex flex-column">
    <app-hero [title]="'About us'"
          [image]="'/assets/images/folder.jpg'"
          [subTitle]="'Who We Are'"></app-hero>
          <!-- <div class="container p-2">
             <p>
                MasterEvents is an Brazilian event management and ticketing website based in Ireland. 
                The service allows users to browse, create and promote local events. 
                The service charges event organizers a fee in exchange for online ticketing services, unless the event is free.

                Launched in 2022 and based in Rosses Point, Sligo, MasterEvents opened its first international office. 
                The company has local offices in Sao Paulo, Belo Horizonte, Cork and Sligo. 
                
                The company planning be public on the New York Stock Exchange in 2024. 
            </p>
            <p>
                We are the global leader in live entertainment, and we’re doing more than ever to power your business—for fans and for the future.
                Discover why thousands of clients trust us as their ticketing partner.
            </p>
          </div> -->
          <div class="container">
            <h1>MasterEvents</h1>
            <div class="row">
                <div class="col-md-12">
                    <img style='float:left;width:200px;height:200px; margin-right:10px;' src="/assets/images/logo.png" />
                    <p>
                        MasterEvents is an Brazilian event management and ticketing website based in Ireland. 
                        The service allows users to browse, create and promote local events. 
                        The service charges event organizers a fee in exchange for online ticketing services, unless the event is free.
        
                        Launched in 2022 and based in Rosses Point, Sligo, MasterEvents opened its first international office. 
                        The company has local offices in Sao Paulo, Belo Horizonte, Cork and Sligo. 
                        
                        The company planning be public on the New York Stock Exchange in 2024. 
                    </p>
                </div>

                    <p>
                        MasterEvents is an Brazilian event management and ticketing website based in Ireland. 
                        The service allows users to browse, create and promote local events. 
                        The service charges event organizers a fee in exchange for online ticketing services, unless the event is free.
        
                        Launched in 2022 and based in Rosses Point, Sligo, MasterEvents opened its first international office. 
                        The company has local offices in Sao Paulo, Belo Horizonte, Cork and Sligo. 
                        
                        The company planning be public on the New York Stock Exchange in 2024. 
                    </p>
     <p>
        The company planning be public on the New York Stock Exchange in 2024. </p>
            </div>
        </div>



