<footer class="bg-dark mt-5 pt-5">
    <div class="col-6">
    </div>
    <div class="container">
        <div class="col-md-12">
      </div>
      <div class="newsletter container col-6 mt-5">
          <h5 class="text-center">Subscribe to our Newsletter</h5>
        <div class="input-group justify-content-center">
          <input  type="text" id="location" 
          placeholder="Your Email" class="form-control">
          <button type="submit" class="btn btn-outline-light"> Subscribe </button>
        </div>
      </div>

      <div class="row mt-2">
        <ul class="d-flex justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a>
          </li>
        </ul>
      </div>
    </div>
          <div class="text-center col-sm-12">
            © 2022 - MasterEvents <span class="hide-on-sm"> - Jessica Henry S00214115
            </span>
          </div>
  </footer>
  