   

         <!-- <img class="card-img-top" style=" height: 160px;" src="{{event?.images?.[0]?.url}}" alt="Card image cap" />
       <div class="card card-body flex-fill">
          <h5 class="card-title">{{ event?.name }}</h5>
          <p class="card-text">
             {{event?.dates?.start?.localDate | date }}
          </p>
          <p class="card-text">
             {{event?._embedded?.venues?.[0]?.name}}
          </p>
<div class="row text-center">
   <a class="btn btn-primary d-flex justify-content-start col-10 text-center" routerLink="event/{{event?.id}}">See Event</a>
   <a class="btn d-flex justify-content-end col-2 text-center" (click)="AddOrRemove(event)" ><fa-icon [icon]="star"></fa-icon></a>
</div>
      
<div class="card-deck">
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
   <div class="card">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">Card title</h5>
       <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
     <div class="card-footer">
       <small class="text-muted">Last updated 3 mins ago</small>
     </div>
   </div>
 </div> -->

 <!-- acabou -->
 <div class="card-deck">
   <div class="card">
     <img class="card-img-top" style=" height: 160px;" src="{{event?.images?.[0]?.url}}" alt="Card image cap">
     <div class="card-body">
       <h5 class="card-title">{{ event?.name }}</h5>
       <p class="card-text"> {{event?.dates?.start?.localDate | date }}</p>
       <p class="card-text"> {{event?._embedded?.venues?.[0]?.name}} {{event?._embedded?.venues?.[0]?.city?.name}}</p>      
     </div>
     <div class="card-footer">
      <div class="row">
         <div class="col-2"></div>
         <a class="btn btn-secondary d-flex justify-content-center col-8" routerLink="event/{{event?.id}}">See Event</a>
         <a class="btn d-flex justify-content-end col-2 text-center" (click)="AddOrRemove(event)" ><fa-icon [icon]="star"></fa-icon></a>
      </div>
     </div>
   </div>
 </div>



          

          <!-- <a [routerLink]="['/event', event?.id]">See Event</a> -->