<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master Events | Home</title>
  </head>
  <body>
    <header>
      <div class="container-fluid navbar-white mb-4">
        <div class="container">
          <nav class="navbar navbar-expand-sm navbar-light">
            * Master Event
            <!-- <img
            src="assets/images/logos/logo.png"
            class="logo"
            alt="CloneDeal Logo"
          /> -->
            <div class="col-1 d-flex justify-content-end">
              <a
                class="navbar-toggler collapsed border-0"
                type="button"
                data-toggle="collapse"
                data-target="#collapsingNavbar"
              >
                <span> </span>
                <span> </span>
                <span> </span>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="toggleMobileMenu">
              <ul class="navbar-nav ms-auto text-center navbar-nav mx-auto">
                <li>
                  <a class="nav-link" id="active" href="home.html">Home</a>
                </li>
                <li>
                  <a class="nav-link" href="concerts.html">Concerts</a>
                </li>
                <li>
                  <a class="nav-link" href="sports.html">Sports</a>
                </li>
                <li>
                  <a class="nav-link" href="artandtheater.html"
                    >Art & Theater</a
                  >
                </li>
                <li>
                  <a class="nav-link" href="more.html">More</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container"></div>
    </main>
    <footer></footer>
  </body>
</html>
