/* You can add global styles to this file, and also import other style files */

.btn-secondary{
    background: #212529;
    border: solid 1px #212529;
    border-radius: 0px;
}
.btn-primary{
    background: #d6dce2;
    border: solid 1px #c7d0da;
    border-radius: 0px;
    color: #212529;
    width: 10rem;
}
.wrapper{
    min-height: 66vh;
}
