@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

//VARIABLES
$font-main:'Jura',
sans-serif;
$font-heading:'Jura',
'sans-serif';
$color-primary:'#1f3646';
$color-header:#385723; 
$color-dark: #000000;
$color-white: #ffff;
$primary-font-color: #8b8f93;
$footer-bg:#f6f6f6; 
$sec-color: #9ea2a9b8; 
$btn-icons-color:#338d9e61;
